<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Buttons | Medihim Partners</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, Medihim Partners" />
	<meta name="description" content="프로젝트가이드, Medihim Partners" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/ui.libs.min.js"></script>
	<script src="../../assets/js/ui.common.js"></script>
	<script src="../../assets/js/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body>
	<!-- page -->
	<div class="page template-a">
		<header class="page-header"></header>

		<main class="page-body template-a">
			<div class="page-content">
				<section class="section module-guide">
					<div class="section-header">
						<h2 class="section-h2">Buttons</h2>
						<p class="section-explain">옵션과 모듈 외 특이사항은 컨텐츠 가이드로 분류한다.</p>
					</div>
					<div class="section-body">
						<h3 class="content-h3">[Options]</h3>
						<button type="button" class="btn demo-c fill-normal"><span>fill-normal</span></button>
						<button type="button" class="btn demo-c fill-primary"><span>fill-primary</span></button>
						<button type="button" class="btn demo-c fill-secondary"><span>fill-secondary</span></button>
						<button type="button" class="btn demo-c fill-dark"><span>fill-dark</span></button>
						<br><br>
						<button type="button" class="btn demo-c line-normal"><span>line-normal</span></button>
						<button type="button" class="btn demo-c line-primary"><span>line-primary</span></button>
						<button type="button" class="btn demo-c line-secondary"><span>line-secondary</span></button>
						<button type="button" class="btn demo-c line-dark"><span>line-dark</span></button>
						<br><br>
						<button type="button" class="btn demo-c none-normal"><span>none-normal</span></button>
						<button type="button" class="btn demo-c none-primary"><span>none-primary</span></button>
						<button type="button" class="btn demo-c none-secondary"><span>none-secondary</span></button>
						<button type="button" class="btn demo-c none-dark"><span>none-dark</span></button>

						<h3 class="content-h3">module-a (Action Button)</h3>
						<button type="button" class="btn demo-a fill-normal"><span>module-a</span></button>
						<button type="button" class="btn demo-a fill-primary"><span>module-a</span></button>
						<button type="button" class="btn demo-a fill-secondary"><span>module-a</span></button>
						<button type="button" class="btn demo-a fill-dark"><span>module-a</span></button>

						<h3 class="content-h3">module-b (Form Button)</h3>
						<button type="button" class="btn demo-b fill-normal"><span>module-a</span></button>
						<button type="button" class="btn demo-b fill-primary"><span>module-a</span></button>
						<button type="button" class="btn demo-b fill-secondary"><span>module-a</span></button>
						<button type="button" class="btn demo-b fill-dark"><span>module-a</span></button>

						<h3 class="content-h3">module-c (Module Button)</h3>
						<button type="button" class="btn demo-c line-normal"><span>module-a</span></button>
						<button type="button" class="btn demo-c line-primary"><span>module-a</span></button>
						<button type="button" class="btn demo-c line-secondary"><span>module-a</span></button>
						<button type="button" class="btn demo-c line-dark"><span>module-a</span></button>

						<h3 class="content-h3">module-d (Link Button)</h3>
						<button type="button" class="btn demo-d none-normal"><span>module-a</span></button>
						<button type="button" class="btn demo-d none-primary"><span>module-a</span></button>
						<button type="button" class="btn demo-d none-secondary"><span>module-a</span></button>
						<button type="button" class="btn demo-d none-dark"><span>module-a</span></button>
					</div>
				</section>
				<section class="section module-guide">
					<div class="section-header">
						<h2 class="section-h2">Labels</h2>
					</div>
					<div class="section-body">
						<h3 class="content-h3">[Options]</h3>
						<span class="label demo-a fill-normal">fill-normal</span>
						<span class="label demo-a fill-primary">fill-primary</span>
						<span class="label demo-a fill-secondary">fill-secondary</span>
						<span class="label demo-a fill-dark">fill-dark</span>
						<br><br>
						<span class="label demo-a line-normal">line-normal</span>
						<span class="label demo-a line-primary">line-primary</span>
						<span class="label demo-a line-secondary">line-secondary</span>
						<span class="label demo-a line-dark">line-dark</span>
						<br><br>
						<span class="label demo-a none-normal">none-normal</span>
						<span class="label demo-a none-primary">none-primary</span>
						<span class="label demo-a none-secondary">none-secondary</span>
						<span class="label demo-a none-dark">none-dark</span>
						<br><br>
						<span class="label demo-a fill-item1">fill-item1</span>
						<span class="label demo-a fill-item2">fill-item2</span>
						<span class="label demo-a fill-item3">fill-item3</span>

						<h3 class="content-h3">module-a (Items Label)</h3>
						<span class="label demo-a line-item1">module-a</span>
						<span class="label demo-a line-item2">module-a</span>
						<span class="label demo-a line-item3">module-a</span>

						<h3 class="content-h3">module-b (States Label)</h3>
						<span class="label demo-b fill-normal">module-b</span>
						<span class="label demo-b fill-primary">module-b</span>
						<span class="label demo-b fill-secondary">module-b</span>
						<span class="label demo-b fill-dark">module-b</span>
					</div>
				</section>
				<section class="section module-guide">
					<div class="section-header">
						<h2 class="section-h2">Dividers</h2>
					</div>
					<div class="section-body">
						<h3 class="content-h3">module-a (Section Divider)</h3>
						<hr class="divider module-a" />
					</div>
				</section>
			</div>
		</main>	</div>
</body>

</html>