<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Forms | Medihim Partners</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, Medihim Partners" />
	<meta name="description" content="프로젝트가이드, Medihim Partners" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/ui.libs.min.js"></script>
	<script src="../../assets/js/ui.common.js"></script>
	<script src="../../assets/js/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
</head>

<body>
	<!-- page -->
	<div class="page template-a">
		<header class="page-header"></header>

		<!-- page-body -->
		<main class="page-body templete-a">
			<!-- page-content -->
			<div id="pageContent" class="page-content">
				<!-- Form Textfeild -->
				<section class='section module-guide'>
					<div class="section-header">
						<h2 class='section-h2'>Form Input</h2>
					</div>
					<div class="section-body">
						<h3 class="content-h3">demo-a</h3>
						<div class='frm-input demo-a'>
							<input type="text" class='input' placeholder='Placeholder' />
						</div>
						<br />
						<div class='frm-input demo-a'>
							<input type="text" class='input' value="Valued" />
						</div>
						<br />
						<div class='frm-input demo-a'>
							<input type="text" class='input' value="Disabled" disabled />
						</div>
						<br />
						<div class='frm-input demo-a is-errored'>
							<input type="text" class='input' value="Errored" />
						</div>
						<br />
						<div class='frm-input demo-a'>
							<textarea name="" id="" cols='10' rows='5' class='textarea'></textarea>
							<p class='bytes'><span class="count">0</span> / <span class="total">100Bytes</span></p>
						</div>
						<br />
						<div class='frm-input demo-a'>
							<textarea name="" id="" cols='10' rows='5' class='textarea'></textarea>
							<p class='bytes'><span class="count">0</span> / <span class="total">100Bytes</span></p>
						</div>

						<br />
						<div class="frm-input demo-a">
							<select name="" id="" class='select'>
								<option value="">전체</option>
							</select>
						</div>
						<br />
						<div class="frm-input demo-a">
							<select name="" id="" class='select' disabled>
								<option value="">전체</option>
							</select>
						</div>

						<h3 class="content-h3">.frm-input-group</h3>
						<p>[Default]</p>
						<div class="frm-input-group">
							<div class='frm-input demo-a'>
								<input type="text" class='input' placeholder='Placeholder' />
							</div>
							<div class='frm-input demo-a'>
								<input type="text" class='input' placeholder='Placeholder' />
							</div>
						</div>
						<br />
						<p>&gt; .flex-a</p>
						<div class="frm-input-group">
							<div class='frm-input demo-a flex-a'>
								<input type="text" class='input' placeholder='Placeholder' />
							</div>
							<div class="frm-split">~</div>
							<div class='frm-input demo-a flex-a'>
								<input type="text" class='input' placeholder='Placeholder' />
							</div>
						</div>
					</div>
				</section>
				<!-- // Form Textfeild -->

				<!-- Form Check -->
				<section class='section module-guide'>
					<div class="section-header">
						<h2 class='section-h2'>Form Check</h2>
					</div>
					<div class="section-body">
						<h3 class="content-h3">.frm-checkbox-group</h3>
						<div class='frm-checkbox-group'>
							<label class='frm-checkbox demo-a'>
								<input type="checkbox" name='demoCheckbox' class="checkbox" />
							</label>
							<label class='frm-checkbox demo-a'>
								<input type="checkbox" name='demoCheckbox' class="checkbox" checked/>
								<span class='label'>Checkbox</span>
							</label>
							<label class='frm-checkbox demo-a'>
								<input type="checkbox" name='demoCheckbox' class="checkbox" disabled />
								<span class='label'>Checkbox</span>
							</label>
							<label class='frm-checkbox demo-a'>
								<input type="checkbox" name='demoCheckbox' class="checkbox" disabled checked />
								<span class='label'>Checkbox</span>
							</label>
						</div>

						<h3 class="content-h3">.frm-radio-group</h3>
						<div class='frm-radio-group'>
							<label class='frm-radio demo-a'>
								<input type="radio" name='demoRadio1' class="radio" />
							</label>
							<label class='frm-radio demo-a'>
								<input type="radio" name='demoRadio1' class="radio" checked />
								<span class='label'>Radio</span>
							</label>
							<label class='frm-radio demo-a'>
								<input type="radio" name='demoRadio2' class="radio" disabled />
								<span class='label'>Radio</span>
							</label>
							<label class='frm-radio demo-a'>
								<input type="radio" name='demoRadio2' class="radio" disabled checked />
								<span class='label'>Radio</span>
							</label>
						</div>

						<h3 class="content-h3">Switch</h3>
						<div class='flex-nw gap-10'>
							<label class='frm-switch demo-a'>
								<input type="checkbox" name='demoSwitch1' />
								<span class='track'><span class="blind">Switch</span></span>
							</label>
							<label class='frm-switch demo-a'>
								<input type="checkbox" name='demoSwitch2' checked />
								<span class='track'><span class="blind">Switch</span></span>
							</label>
							<label class='frm-switch demo-a'>
								<input type="checkbox" name='demoSwitch3' disabled />
								<span class='track'><span class="blind">Switch</span></span>
							</label>
							<label class='frm-switch demo-a'>
								<input type="checkbox" name='demoSwitch4' disabled checked />
								<span class='track'><span class="blind">Switch</span></span>
							</label>
						</div>
					</div>
				</section>
				<!-- // Form Check -->
			</div>
		</main>
		<!-- // Container -->

		<!-- Footer -->
		<footer class="page-footer"></footer>
		<!-- // Footer -->
	</div>
</body>

</html>