<div class="aside-sec">
	<div class="aside-dashboard">
		<a href="#" class="btn module-a line-primary">
			<span>Dashboard</span>
		</a>
	</div>

	<!-- aside-sigin -->
	<div class="aside-sigin">
		<p class="agency">이뻐 성형외과</p>
		<p class="welcome"><span class="name">이메디</span>님 안녕하세요.</p>
		<div class="btn-group">
			<button type="button" class="btn btn-modify line-normal">
				<span>정보수정</span>
			</button>
			<button type="button" class="btn btn-sigout line-normal">
				<span>로그아웃</span>
			</button>
		</div>
	</div>
	<!-- //aside-sigin -->

	<!-- aside-nav -->
	<nav class="aside-nav">
		<!-- 병원 -->
		<div class="dep1-group">
			<p class="dep1-title">병원</p>
			<ul class="dep2-menu">
				<li class="dep2-node">
					<a href="#">병원 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">의사 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">스케쥴 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">시술/수술 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">상품 관리</a>
				</li>
			</ul>
		</div>
		<!-- //병원 -->

		<!-- 고객 -->
		<div class="dep1-group">
			<p class="dep1-title">고객</p>
			<ul class="dep2-menu">
				<li class="dep2-node is-selected">
					<a href="#">고객 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">상담 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">예약 관리</a>
				</li>
			</ul>
		</div>
		<!-- //고객 -->

		<!-- 결제/정산 -->
		<div class="dep1-group">
			<p class="dep1-title">결제/정산</p>
			<ul class="dep2-menu">
				<li class="dep2-node">
					<a href="#">결제 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">정산 관리</a>
				</li>
			</ul>
		</div>
		<!-- //결제/정산 -->

		<!-- 운영 -->
		<div class="dep1-group">
			<p class="dep1-title">운영</p>
			<ul class="dep2-menu">
				<li class="dep2-node">
					<a href="#">고객 대응</a>
				</li>
				<li class="dep2-node">
					<a href="#">광고 관리</a>
				</li>
				<li class="dep2-node">
					<a href="#">후기 관리</a>
				</li>
			</ul>
		</div>
		<!-- //운영 -->
	</nav>
	<!-- //aside-nav -->

	<!-- aside-footer -->
	<div class="aside-footer">
		<ul class="fnb">
			<li>
				<a href="#">서비스 이용약관</a>
			</li>
			<li>
				<a href="#">개인정보 처리방침</a>
			</li>
		</ul>

		<div class="support">
			<p class="title">서비스 문의</p>
			<p class="mail"><a href="mailto:support@ippeo.com">support@ippeo.com</a></p>
		</div>

		<div class="copyright">
			<p>© 2025 (주) 메디힘. <br>ALL RIGHTS RESERVED</p>
		</div>
	</div>
	<!-- //aside-footer -->
</div>