<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="keywords" content="UCOMPANION">
	<meta name="description" content="UCOMPANION">
	<title>Prototype | ippeo</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/ui.libs.min.js"></script>
	<script src="../../assets/js/ui.common.js"></script>
	<script src="../../assets/js/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
</head>

<body>
	<!-- page -->
	<div class="page template-a">
		<header class="page-header"></header>

		<!-- page-body -->
		<main class="page-body templete-a">
			<!-- page-aside -->
			<aside class="page-aside"></aside>
			<!-- //page-aside -->

			<!-- page-content -->
			<div id="pageContent" class="page-content">
				<div class="page-title">
					<div class="location">
						<span class="dep1">템플릿</span>
						<span class="dep2">Prototype</span>
					</div>
					<h1 class="title">Prototype</h1>
				</div>

				<!-- 섹션 모듈 -->
				<section class="section module-a">
					Section
				</section>
				<!-- //섹션 모듈 -->

				<!-- 섹션 모듈 -->
				<section class="section module-a">
					Section
				</section>
				<!-- //섹션 모듈 -->
			</div>
			<!-- //page-content -->
		</main>
		<!-- //page-body -->
	</div>
	<!-- //page -->
</body>

</html>