<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="UCOMPANION">
	<meta name="description" content="UCOMPANION">
	<title>Pages | UCOMPANION</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/ui.libs.min.js"></script>
	<script src="../../assets/js/ui.common.js"></script>
	<script src="../../assets/js/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
</head>

<body>
	<!-- 페이지 -->
	<div class="page templete-*">
		<header class="page-header"></header>
		<main class="page-body">
			<!-- 본문 -->
			<div id="pageContent" class="page-content templete-*">
				<!-- 화면명 -->
				<div class="[화면명]-wrap">
					<!-- 섹션 모듈 -->
					<section class="sec [섹션]-sec module-*">
						<div class="sec-inner">
							<div class="sec-header"></div>
							<div class="sec-body">
								<!-- 컨텐츠 모듈 -->
								<div class="[분류]-[성격] module-*">
									<!-- 컴포넌트 모듈 -->
									<button type="button" class="btn module-*">버튼</button>
									<!-- //컴포넌트 모듈 -->
								</div>
								<!-- //컨텐츠 모듈 -->
							</div>
						</div>
					</section>
					<!-- //섹션 모듈 -->
				</div>
				<!-- //화면명 -->
			</div>
			<!-- //본문 -->
		</main>
		<footer class="page-footer"></footer>
	</div>
	<!-- //페이지 -->

	<!-- 모달 -->
	<div class="modal about-modal">
		<!-- Header -->
		<div class="modal-header"></div>
		<!-- // Header -->

		<!-- modal-body -->
		<div class="modal-body">
			<!-- modal-content -->
			<div class="modal-content">
				<!-- 화면명 -->
				<div class="[화면명]-wrap">
					<!-- 섹션 모듈 -->
					<section class="sec [섹션]-sec module-*">
						<div class="sec-inner">
							<div class="sec-header"></div>
							<div class="sec-body">
								<!-- 컨텐츠 모듈 -->
								<div class="[분류]-[성격] module-*">
									<!-- 컴포넌트 모듈 -->
									<button type="button" class="btn module-*">버튼</button>
									<!-- //컴포넌트 모듈 -->
								</div>
								<!-- //컨텐츠 모듈 -->
							</div>
						</div>
					</section>
					<!-- //섹션 모듈 -->
				</div>
				<!-- //화면명 -->
			</div>
			<!-- // modal-content -->
		</div>
		<!-- // modal-body -->

		<!-- modal-footer -->
		<div class="modal-footer"></div>
		<!-- // modal-footer -->
	</div>
	<!-- //모달 -->
</body>

</html>