@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 탭 메뉴
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
/* s: 기본 */
.tab-panels {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
	.tab-pane {
		display: none;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: auto;
		width: 100%;
		&.active {
			display: flex;
		}
	}
}
/* e: 기본 */

/*-------------------------------------------------------------------
	@@ 유형
-------------------------------------------------------------------*/
/* 스타일1 */
